# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bat

# VSCode config stuff
!.vscode/c_cpp_properties.json
!.vscode/tasks.json

# VS stuff
ARM64/
ARM/
*.vcxproj.user

# NDK stuff
out/
[Ll]ib/
[Ll]ibs/
[Oo]bj/
[Oo]bjs/
*.zip
extern/
Android.mk.backup
qpm.shared.json

log_timestamp

# Quest modding stuff
*.qmod
/.vs
/build/arm64-v8a-Debug
/.idea/.idea.MultiplayerCore.Quest.dir/.idea
/build
ndkpath.txt
*.cmake
*.log
.vscode/launch.json.bak
mod.json
tombstone_*
